// reset
@import "./reset.scss";

// built-in
$color: (
  bg-darkcolor: #000,
  bg-lightcolor: #fff,
  bg-graycolor: #808080,
  accent-color: #dc143c,
  theme-color: #55b2e4
);

$size: 14px;

//home이라는 요소는 index의 iframe안에 들어간다.
// iframe창의 높이,너비값을 전체로 사용해주기 위해
// home.scss에서 높이,너비를 100%로 설정해줘야 한다.

// common
html, body {
  width: 100%;
  height: 100%;
}

// home
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content_title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: theme-color);
      font: bold $size/1 "arial";
    }
    .subtitle {
      font: normal $size/1 "arial";
    }
  }
  .divideLine {
    width: 100%;
    border-top: 1px solid map-get($map: $color, $key: bg-graycolor);
    margin: 4px;
  }
  .wrapper_body {
    width: 100%;
    height: 270px;
    .video {
      width: 100%;
      height: 240px;
      background: url("./contents/iu_1.jpg") center/cover no-repeat;
      margin-top: 10px;
    }
  }
}