* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #222;
}
body .btn-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .btn-outer .button1 {
  color: #ff5a86;
  width: 150px;
  height: 100px;
  position: relative;
  background: #ff5a86;
  border-radius: 50px 0 0 50px;
  rotate: 45deg;
}
body .btn-outer .button2 {
  color: #ff5a86;
  width: 150px;
  height: 100px;
  position: relative;
  background: #ff5a86;
  border-radius: 50px 0 0 50px;
}