@import url("./reset.css");

/* header */
#main_header {
  width: 960px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

#title {
  position: absolute;
  left: 0;
  bottom: 0;
}

#main_gnb {
  position: absolute;
  right: 0;
  top: 50px;
  a {
    display: inline-block;
    padding: 5px 10px;
  }
  ul {
    display: flex;
    font-size: 13px;
    color: #cfcfcf;
    padding: 5px;
  }
}
#main_lnb {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
  }
}
